{% extends '::base.html.twig' %}

{% block title %}{{ vertex.getTitle() }}{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <h2>{{ vertex.getInfoType()|capitalize }} {{ vertex.getTitle() }}</h2>
        <h3>{{ vertex.getHeadline() }}</h3>
        {{ vertex.getDescription() }}
    </div>
    <div class="span6">
        <h2>GM only</h2>
        {{ vertex.getGmOnly() }}
    </div>
    </div>
<hr/>
    <a href="{{ path('vertex_edit', {id: vertex.id} ) }}">Editer</a>
{% endblock %}
