{% verbatim %}
<div class="span4">
    <table class="table">
        <thead><tr><th>Counter</th><th>Current</th><th>Action</th></tr></thead>
        <tr>
            <td>Init</td><td>{{ currentInit }}</td>
            <td><button class="btn btn-primary" ng-click="goToNextTurn()">Next</button></td>
        </tr>
        <tr>
            <td>Round</td><td>{{ currentRound }}</td>
            <td><button class="btn btn-success" ng-click="goToNextRound()" ng-disabled="0 !== currentInit">Next</button></td>
        </tr>
    </table>
    <h4>Character {{ selected_char.name }}</h4>
    <table class="table">
        <tr>
            <td><button ng-disabled="!hasSelection()" class="btn" ng-click="attackRoll(selected_char)">Attack Roll</button></td>
            <td>{{ attackRollResult }} (included -{{ getWoundMalus(selected_char) }})</td>
        </tr>    
        <tr>
            <td><button ng-disabled="!hasSelection()" class="btn" ng-click="damageRoll(selected_char)">Damage Roll</button></td>
            <td>{{ damageRollResult }}</td>
        </tr>            
        <tr>
            <td><input class="span4" ng-model="addedWoundsValue" type="number"/></td>
            <td>
                <button ng-disabled="!hasSelection()" class="btn" ng-click="addWoundToSelected(addedWoundsValue)">Add wounds</button>
            </td>
        </tr>     
        <tr>
            <td>
                <button ng-disabled="!hasSelection()" class="btn btn-inverse" ng-click="setKilled(selected_char)">Killed</button> 
            </td>
            <td>
                <button ng-disabled="!hasSelection()" class="btn btn-danger" ng-click="deleteCharacter(selected_char)">Delete</button>              
            </td>
        </tr>                 
        <tr>
            <td>
                <button ng-disabled="!hasSelection()" class="btn btn-success" ng-click="saveAsTemplate(selected_char)">Save as template</button> 
            </td>
            <td>
                <button ng-disabled="!hasSelection()" class="btn btn-danger" ng-click="deleteTemplateByName(selected_char.name)">Delete template</button>              
            </td>
        </tr>        
    </table>
    <h4>Last state</h4>
    <button class="btn btn-large btn-danger pull-right" ng-click="persist()"><i class="icon-white icon-hdd"></i> Write</button>
    <button class="btn btn-large btn-warning" ng-click="restore()"><i class="icon-white icon-hdd"></i> Read</button>
</div>

<div class="span4">
    <table class="table">
        <thead><tr><th>I</th><th>C</th></tr></thead>
        <tr ng-repeat="fighter in characters | orderBy:'-init'"
            ng-click="select(fighter.name)">
            <td ng-class="getHilite(fighter.init)">{{fighter.init}}</td>
            <td ng-class="isSelected(fighter.name)">{{ fighter.name }}</td>
        </tr>
    </table>
    <form class="form-horizontal">
        <div class="control-group">
            <select class="span6" ng-model="newTemplateName">
                <option ng-repeat="perso in template">{{ perso.name }}</option>
            </select>
            <button class="btn" ng-click="addCharacter(newTemplateName)">Add new</button>
        </div>
    </form>
</div>

<div class="span4">
    <form class="form-horizontal" novalidate="novalidate">    
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input ng-model="selected_char.name" type="text" class="span12"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Target</label>
            <div class="controls">
                <select ng-model="selected_char.target" class="span12">
                    <option ng-repeat="p in characters">{{ p.name }}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Init</label>
            <div class="controls">
                <input ng-model="selected_char.init" type="number" class="span3"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Stance</label>
            <div class="controls">
                <select ng-model="selected_char.stance" class="span6">
                    <option>attack</option>
                    <option>full att</option>
                    <option>def</option>
                    <option>full def</option>
                    <option>center</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">TN Hit</label>
            <div class="controls">
                <input ng-model="selected_char.TNHit" type="number" class="span3"/>
                DamRed
                <input ng-model="selected_char.damageReduction" type="number" class="span3"/>
            </div>
        </div>        
        <div class="control-group">
            <label class="control-label">Earth</label>
            <div class="controls">
                <input ng-model="selected_char.earth" type="number" class="span3"/>
                Total: {{ getHP(selected_char) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Wound</label>
            <div class="controls">
                <input ng-model="selected_char.wound" type="number" class="span3"/>
                Malus: {{ getWoundMalus(selected_char) }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Attack</label>
            <div class="controls">
                <input ng-model="selected_char.attack.roll" type="number" class="span3"/>
                k
                <input ng-model="selected_char.attack.keep" type="number" class="span3"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Damage</label>
            <div class="controls">
                <input ng-model="selected_char.damage.roll" type="number" class="span3"/>
                k
                <input ng-model="selected_char.damage.keep" type="number" class="span3"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Note</label>
            <div class="controls">
                <textarea ng-model="selected_char.note" class="span12"></textarea>
            </div>
        </div>
    </form>
</div>
{% endverbatim %}
